# -----------------------------

# Python Cache

# -----------------------------

**pycache**/
*.pyc
*.pyo
*.pyd

# -----------------------------

# Virtual Environments

# -----------------------------

venv/
.venv/
env/

# -----------------------------

# IDE / Editor Files

# -----------------------------

.vscode/
.idea/

# -----------------------------

# OS Files

# -----------------------------

.DS_Store
Thumbs.db

# -----------------------------

# Logs

# -----------------------------

*.log

# -----------------------------

# Jupyter Notebook

# -----------------------------

.ipynb_checkpoints/

# -----------------------------

# Dataset (DO NOT UPLOAD)

# -----------------------------

dataset/
data/
*.csv
*.xlsx
*.wav

# -----------------------------

# Environment Variables

# -----------------------------

.env

# -----------------------------

# OPTIONAL: Large Model Files

# Uncomment ONLY if GitHub gives size error

# -----------------------------

# *.h5

# *.pkl
